<h1 id="phylogenetics-tools">Phylogenetics tools</h1>
<h2 id="non-homogeneousnon-stationary-models">Non-homogeneous/non-stationary models</h2>
<ul>
<li>HAL-HAS: from Jermiin.</li>
<li>HB, NSQuash, etc from Sarah and Tom N.</li>
<li>CAT+GTR from Lartillot (PhyloBayes)</li>
<li>RevBayes (some flexible models)</li>
</ul>
<h2 id="gene-tree-species-tree-reconciliation">Gene tree-species tree reconciliation</h2>
<ul>
<li>guenomu: from Leo Martins</li>
<li>Various methods from Szollosi and Boussau</li>
</ul>
<h2 id="supertrees">Supertrees</h2>
<ul>
<li>SR2008, SPA: two probabilistic supertree methods, both implemented in p4.</li>
</ul>
<h1 id="genomics">Genomics</h1>
<h2 id="genome-assembly">Genome assembly</h2>
<ul>
<li>SPAdes, Dipspades</li>
<li>QUast - assembly quality statistics, comparisons</li>
</ul>
<h2 id="ortholog-paralog-clustering">Ortholog, paralog clustering</h2>
<ul>
<li>OMA stand-alone</li>
<li>BLAST (all-v-all) followed by MCL (for gene family clustering)</li>
</ul>
<h2 id="comparative-method">Comparative method</h2>
<h3 id="evolution-of-traits-on-a-phylogeny">Evolution of traits on a phylogeny</h3>
<ul>
<li>TreeBreaker - discrete trait</li>
<li>Coevol (Lartillot)</li>
<li>mcmcglmm (see below)</li>
</ul>
<h1 id="data-science">Data science</h1>
<h2 id="python">Python</h2>
<ul>
<li>PyData stack: Numpy, Scipy, Matplotlib (plotting), Pandas (data structures), Seaborn (plotting and analysis, Matplotlib frontend), statsmodels, sklearn (machine learning), PyMC3 (MCMC regression models)</li>
<li>Biopython - many useful modules for bioinformatics</li>
<li>p4 - phylogenetics toolkit for Python</li>
</ul>
<h2 id="r">R:</h2>
<p>ape - phylogenetic tree reading mcmcglmm - regressions, mixed models on a phylogeny ggplot2 - visualisation</p>
